/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=IBM+Plex+Mono:wght@400;500&display=swap');

$link-color: #007155;
$body-bg: #ffffff;

/*-- scss:rules --*/
.reveal {
  font-family: 'IBM Plex Sans', sans-serif;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  color: #007155;
}

.reveal .slide-number {
  color: #007155;
}

.reveal code {
  font-family: 'IBM Plex Mono', monospace;
  color: #007155;
}
